.choice-box {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.choice-box .context-menu {
    -fx-background-color: transparent;
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

